certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pluggy==1.4.0
psycopg2-binary==2.9.9
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
tomli==2.0.1
tzdata==2024.1
urllib3==2.2.1
